.gametitle{
    position: relative;
    color: white;
    font-size: 6em;
    text-align: left;
    vertical-align: middle;

}

.titlediv{
    padding: 5.5rem;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.jumbotron {
    background-image: url(../imgs/blackcard.png);
    background-position: center;
    background-size: 84%;
    background-repeat: no-repeat;
    justify-content: center;
}

.jumbotron2 {
    background-image: url(../imgs/cardstack.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position:-2rem, 0rem;
    overflow:visible;
    justify-content: center;
    vertical-align: middle;
}

.blackdiv{
    background-image: url(../imgs/blackcard.png);
    background-position: center;
    background-repeat: no-repeat;

}

.whitediv{
    background-image: url(../imgs/cardstack.png);
    background-position: center;
    background-repeat: no-repeat;

}

.whitecard{
    background-image: url(../imgs/whitecard.png);
    background-position: center;
    background-repeat: no-repeat;
}